<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Insurance Detail</div>
          </h1>
          <div class="card card-primary">
            <div class="card-header"><h4>Edit</h4></div>

            <div class="card-body">
              <form method="POST" action="/employee/u_insurance_detail/{{insurance_detail.id}}">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Project</label>
                      <select class="form-control" id="project" name="project">
                          <option value="">-- Select Project --</option>
                          {% for project in projects %}
                            {% if insurance_detail.project.id == project.id %}
                              <option value="{{ project.id }}" selected>{{ project.title }}</option>
                            {% else %}
                              <option value="{{ project.id }}">{{ project.title }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label for="email">Insurance Type</label>
                      <select class="form-control" id="insurance_type" name="insurance_type">
                          <option value="">-- Select Insurance Type --</option>
                          {% for type in types %}
                            {% if insurance_detail.insurance_type.id == insurance_type.id %}
                              <option value="{{ insurance_type.id }}" selected>{{ insurance_type.type_name }}</option>
                            {% else %}
                              <option value="{{ insurance_type.id }}">{{ insurance_type.type_name }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="form-group col-6"> 
                      <label for="email">Issued Date</label>
                      <input id="issued_date" type="date" class="form-control" name="issued_date" value="{{ insurance_detail.issued_date|date:'Y-m-d' }}">
                    </div>
                    <div class="form-group col-6"> 
                      <label for="email">Expire Date</label>
                      <input id="expire_date" type="date" class="form-control" name="expire_date" value="{{ insurance_detail.expire_date|date:'Y-m-d' }}">
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="form-group col-6"> 
                      <label for="email">Amount</label>
                      <input id="amount" type="number" class="form-control" name="amount" value="{{ insurance_detail.amount }}" step="0.01">
                    </div>
                    <div class="form-group col-6"> 
                      <label for="email">Vendor</label>
                      <input id="vendor" type="text" class="form-control" name="vendor" value="{{ insurance_detail.vendor }}">
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="form-group col-6"> 
                      <label for="email">Instrument No</label>
                      <input id="instrument_no" type="text" class="form-control" name="instrument_no" value="{{ insurance_detail.instrument_no }}">
                    </div>
                  </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>