<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Certification</div>
          </h1>
          {% include 'layout/status.html' %}
          <div class="card card-primary">
            <div class="card-header"><h4>Edit</h4></div>

            <div class="card-body">
              <form method="POST" action="/employee/u_certification/{{certification.id}}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Employee Name</label>
                    <select class="form-control" id="employee" name="employee">
                        <option value=""> Select Employee </option>
                        {% for employee in employees %}
                          {% if certification.employee.id == employee.id %}                         
                            <option value="{{ employee.id }}" selected>{{ employee.ename }}</option>
                          {% else %}
                            <option value="{{ employee.id }}">{{ employee.ename }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="email">Certification Name</label>
                    <input id="certification_name" type="text" class="form-control" name="certification_name" value="{{ certification.certification_name }}">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-6"> 
                    <label for="email">Certification Doc</label>
                    <div class="row">
                      <div class="form-group col-10">
                        <input id="certification_doc" type="file" class="form-control" name="certification_doc" value="{{ certification.certification_doc }}">
                      </div>
                      <div class="form-group col-1">
                        <a href="{{ MEDIA_URL }}{{ certification.certification_doc }}" target="_blank"><span class="ion-ios-eye" ></span></a>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-6">
                    <label>Expiry Date</label>
                    <input id="expiry_date" type="date" class="form-control" name="expiry_date" value="{{ certification.expiry_date|date:'Y-m-d' }}">
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>