<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Modules</div>
            <div style="float: right;"><a href="/employee/save_module" class="btn btn-sm btn-danger">Add</a></div>
          </h1>
          <div class="section-body">
            <div class="row mt-5">
              <div class="col-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Module Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Module</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for module in modules %}  
                                <tr>  
                                    <td>{{ forloop.counter }}</td>  
                                    <td>{{ module.module_name }}</td>  
                                    <td>{{ module.status }}</td>  
                                    <td>  
                                        <a href="/employee/e_module/{{ module.id }}"><span class="ion-ios-compose" ></span></a>  
                                        <a href="/employee/d_module/{{ module.id }}" onclick="return confirm('Are you sure you want to delete this?')"><span class="ion-ios-trash" ></span></a>  
                                    </td>  
                                </tr>  
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                          <th>S.No</th>
                          <th>Module</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>