<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Insurance Type</div>
          </h1>
          {% include 'layout/status.html' %}
          <div class="card card-primary">
            <div class="card-header"><h4>Edit</h4></div>

            <div class="card-body">
              <form method="POST" action="/employee/u_insurance_type/{{insurance_type.id}}">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Type Name</label>
                      <input id="type_name" type="text" class="form-control" name="type_name" value="{{ insurance_type.type_name }}">
                    </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>