<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Add Employee Target</div>
          </h1>
          {% if error_message %}
            <p  class="alert alert-danger">{{ error_message }}</p>
          {% endif %}
          <div class="card card-primary">
            <div class="card-header"><h4>Add</h4></div>

            <div class="card-body">
              <form method="POST" action="save_employee_target">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Employee</label>
                    <select class="form-control" id="employee" name="employee">
                        <option value="">-- Select Employee --</option>
                        {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee.ename }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  {% comment %} <div class="form-group col-6">
                    <label for="frist_name">Financial year</label>
                    <input id="financial_year" type="text" class="form-control" name="financial_year">
                  </div> {% endcomment %}
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Currency</label>
                    <select class="form-control" id="currency" name="currency">
                        <option value="">-- Select --</option>
                            <option value="PKR">PKR</option>
                            <option value="DOLLAR">DOLLAR</option>
                        </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="frist_name">Quarter target</label>
                    <input id="sales_target" type="number" class="form-control" name="sales_target" step="0.01">
                  </div>
                  <div class="form-group col-6">
                    <label for="frist_name">Year target</label>
                    <input id="year_target" type="number" class="form-control" name="year_target" readonly step="0.01">
                  </div>
                  {% comment %} <div class="form-group col-2">
                    <label for="frist_name">For Whole Year</label>
                    <br>
                    <input id="whole_year" type="checkbox" class="form-control" value="1" name="whole_year">
                  </div> {% endcomment %}
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
  <script>
    $(document).ready(function () {
        $('#sales_target').on('keyup change', function () {
            var rate = $(this).val();

            var total = rate * 4
            $('#year_target').val(total);

        });
    });
</script>
</body>
</html>