<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %} 
  {% load humanize %}
<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Sales Report</div>
            <div id="legend-container" style="float: right; font-size:15px;">
              <ul style="display: flex; flex-direction: row; margin: 0px; padding: 0px;">
                <li style="align-items: center; cursor: pointer; display: flex; flex-direction: row; margin-left: 10px;">
                  <span style="background: #dc3545; border-color: #dc3545; border-width: 3px; display: inline-block; flex-shrink: 0; height: 20px; margin-right: 10px; width: 20px;"></span>
                  <p style="color: rgb(102, 102, 102); margin: 0px; padding: 0px;">Less than 50%</p>
                </li>
                <li style="align-items: center; cursor: pointer; display: flex; flex-direction: row; margin-left: 10px;">
                  <span style="background: #ffc107; border-color: #ffc107; border-width: 3px; display: inline-block; flex-shrink: 0; height: 20px; margin-right: 10px; width: 20px;"></span>
                  <p style="color: rgb(102, 102, 102); margin: 0px; padding: 0px;">Between 51% to 99%</p>
                </li>
                <li style="align-items: center; cursor: pointer; display: flex; flex-direction: row; margin-left: 10px;">
                  <span style="background: #28a745; border-color: #28a745; border-width: 3px; display: inline-block; flex-shrink: 0; height: 20px; margin-right: 10px; width: 20px;"></span>
                  <p style="color: rgb(102, 102, 102); margin: 0px; padding: 0px;">100% or Above</p>
                </li>
              </ul>
            </div>
          </h1>
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-body">
                <form class="formnew" method="POST" data-url="{% url 'generate_report' %}" id="myForm4">
                    {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-2">
                      <label>Region</label>
                      <select class="form-control js-example-basic-multiple" id="region" name="region" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for region in regions %}
                          <option value="{{ region.id }}">{{ region.region_name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <label>Branch</label>
                      <select class="form-control js-example-basic-multiple" id="branch" name="branch" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      <!-- {% for branch in branches %}
                          <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
                      {% endfor %} -->
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <label>Department</label>
                      <select class="form-control js-example-basic-multiple" id="department" name="department" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for depart in departs %}
                          <option value="{{ depart.id }}">{{ depart.depart_name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <label for="frist_name">Employee</label>
                      <select class="form-control js-example-basic-multiple" id="employees" name="employees" multiple="multiple">
                          <option value="all">-- Select All --</option>
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <label>Year</label>
                      <select class="form-control js-example-basic-multiple" id="year" name="year" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for year in years %}
                          <option value="{{ year.financial_year }}">{{ year.financial_year }}</option>
                      {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-2">
                      <label></label>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Generate
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Generate
                    </button>
                  </div> -->
                </form>
              </div>
            </div>
          </div> 
        
          <!-- Loading Spinner -->
          <!-- <div id="loading-spinner" class="text-center my-3">
              <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
          </div> -->

          <!-- <div class="section-body">
            {% for year, quarter_data in final_data %} 
              <div class="row mt-5">
                <h1 class="section-header">
                  <div class="text-center">Year {{ year }}</div>
                </h1>
                {% for quarter in quarter_data %} 
               
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <p class="text-center font-weight-bold"></p>
                        <div class="float-right">
                          <form>
                           
                          </form>
                        </div>
                        <h4 class="">{{quarter.quarters}}</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <tr>
                              <th>S.No</th>
                              <th>Employee Name</th>
                           
                              <th>Joining Date</th>
                              <th>Target</th>
                              <th>Achieved</th>
                              <th>% Achieve</th>
                              <th>Remaining Target</th>
                              <th>Status</th>
                              
                            </tr>
                            {% for sale in quarter.sales %}  
                                <tr>  
                                    <td>{{ forloop.counter }}</td>  
                                    <td><img alt="image" src="/static/dist/img/avatar/avatar-1.jpeg" class="img_sales_person" /> | {{ sale.sales_person_name }}</td>
                                   
                                    <td>{{ sale.joining_date }}</td> 
              
                                    <td>{{ sale.sales_target|intcomma }}</td>
                                    <td>{{ sale.sales_amount|intcomma }}</td>
                                    <td class="align-middle">
                                      <div class="progress" style="height: 14px;" data-toggle="tooltip" title="100%">
                                        <div class="progress-bar 
                                            {% if sale.percentage < 50 %}
                                                bg-danger
                                            {% elif sale.percentage >= 50 and sale.percentage <= 99 %}
                                                bg-warning
                                            {% else %}
                                                bg-success
                                            {% endif %}
                                        " style="width: {{ sale.percentage }}%;">
                                            {{ sale.percentage }}%
                                        </div>
                                      </div>
                                    </td>
                                    <td>{{ sale.remaining|intcomma }}</td>
                                    <td><div class="badge {% if sale.percentage < 50 %}
                                      badge-danger
                                  {% elif sale.percentage >= 50 and sale.percentage <= 99 %}
                                      badge-warning
                                  {% else %}
                                      badge-success
                                  {% endif %}">{% if sale.percentage > 100 %}
                                  <span class="fa fa-star checked">{{ sale.status }}</span>
                                               {% else %}
                                                {{ sale.status }}
                                               {% endif %}
                                              </div></td>
                                </tr>  
                            {% endfor %}
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div> -->
         <div class="section-body" id="main"></div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  
  <script>
    //$(document).on('ready',function() {
        $('.js-example-basic-multiple').select2();
    //});
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
        $('#department').change(function () {
            var url = "{% url 'load_employee' %}";
            var department = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'department': department
                },
                traditional: true,
                success: function (data) {
                    var $employees = $('#employees');
                    $employees.empty();  // Clear existing options

                    $.each(data, function (key, value) {
                        var option = new Option(value.ename, value.id, false, false);
                        $employees.append(option);
                    });

                    $employees.trigger('change');  // Notify Select2 to update
                }
            });
        });

        $('#region').change(function () {
            var url = "{% url 'load_branch' %}";
            var region = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region': region
                },
                traditional: true,
                success: function (data) {
                    var $branch = $('#branch');
                    $branch.empty();  // Clear existing options

                    $.each(data, function (key, value) {
                        var option = new Option(value.branch_name, value.id, false, false);
                        $branch.append(option);
                    });

                    $branch.trigger('change');  // Notify Select2 to update
                }
            });
        });
       
        $('.formnew').on('submit',function (e) {
            e.preventDefault();
            var form = $(this)[0];
            var formData = new FormData(form); 
            var url = $(this).data('url');
            $('#main').empty();
            $.ajax({
                type: 'POST',
                url: '{{ HOST }}'+url,
                data: formData,
                traditional: true,
                processData: false,
                contentType: false,
                success: function (data) {
            if (data.status === "success") {
                const finalData = data.final_data;
                let htmlContent = `  <div class="row mt-5">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <p class="text-center font-weight-bold"></p>
                    <div class="float-right">
                      <form>
                       
                      </form>
                    </div>
                    <h4 class="">Report</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="text-center">S.No</th>
                          <th class="text-center">Employee</th>
                          <th class="text-center">Year</th>
                          <th colspan = 2 class="text-center table-primary">Quarter1</th>
                          <th colspan = 2 class="text-center table-info">Quarter2</th>
                          <th colspan = 2 class="text-center table-secondary">Quarter3</th>
                          <th colspan = 2 class="text-center table-success">Quarter4</th>
                          <th class="text-center">Year Target</th>
                          <th class="text-center">Year Sales</th>
                          
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th class="text-center table-primary">Target</th>
                          <th class="text-center table-primary">Sale</th>
                          <th class="text-center table-info">Target</th>
                          <th class="text-center table-info">Sale</th>
                          <th class="text-center table-secondary">Target</th>
                          <th class="text-center table-secondary">Sale</th>
                          <th class="text-center table-success">Target</th>
                          <th class="text-center table-success">Sale</th>
                          <th></th>
                          <th></th>
                          
                        </tr>
                        `;
                        finalData.forEach((data, index) => {
                        htmlContent += ` <tr>  
                                <td class="text-center">${index + 1}</td>  
                                <td class="text-center"><img alt="image" src="/static/dist/img/avatar/avatar-1.jpeg" class="img_sales_person" /> | ${ data.employee_name }</td>
                                <td class="text-center">${ data.Year }</td> 
                                <td class="text-center table-primary">${ intcomma(data.q1_target) }</td>
                                <td class="text-center table-primary">${ intcomma(data.q1_sales) }</td>
                                <td class="text-center table-info">${ intcomma(data.q2_target) }</td>
                                <td class="text-center table-info">${ intcomma(data.q2_sales) }</td>
                                <td class="text-center table-secondary">${ intcomma(data.q3_target) }</td>
                                <td class="text-center table-secondary">${ intcomma(data.q3_sales) }</td>
                                <td class="text-center table-success">${ intcomma(data.q4_target) }</td>
                                <td class="text-center table-success">${ intcomma(data.q4_sales) }</td>
                                <td class="text-center">${ intcomma(data.total_year_target) }</td>
                                <td class="text-center">${ intcomma(data.total_year_sales) }</td>
                                <!-- <td class="align-middle">
                                  <div class="progress" style="height: 14px;" data-toggle="tooltip" title="100%">
                                    <div class="progress-bar 
                                        {% if sale.percentage < 50 %}
                                            bg-danger
                                        {% elif sale.percentage >= 50 and sale.percentage <= 99 %}
                                            bg-warning
                                        {% else %}
                                            bg-success
                                        {% endif %}
                                    " style="width: {{ sale.percentage }}%;">
                                        {{ sale.percentage }}%
                                    </div>
                                  </div>
                                </td>
                                <td>{{ sale.remaining|intcomma }}</td>
                                <td><div class="badge {% if sale.percentage < 50 %}
                                  badge-danger
                              {% elif sale.percentage >= 50 and sale.percentage <= 99 %}
                                  badge-warning
                              {% else %}
                                  badge-success
                              {% endif %}">{% if sale.percentage > 100 %}
                              <span class="fa fa-star checked">{{ sale.status }}</span>
                                           {% else %}
                                            {{ sale.status }}
                                           {% endif %}
                                          </div></td> -->
                            </tr> `;
                    });

                // finalData.forEach(([year, quarters]) => {
                //     htmlContent += `
                //         <div class="row mt-5">
                //             <h1 class="section-header">
                //                 <div class="text-center">Year ${year}</div>
                //             </h1>`;

                //     quarters.forEach(quarter => {
                //         htmlContent += `
                //             <div class="col-12">
                //                 <div class="card">
                //                     <div class="card-header">
                //                         <h4>${quarter.quarters}</h4>
                //                     </div>
                //                     <div class="card-body">
                //                         <div class="table-responsive">
                //                             <table class="table table-striped">
                //                                 <thead>
                //                                     <tr>
                //                                         <th>S.No</th>
                //                                         <th>Employee Name</th>
                //                                         <th>Joining Date</th>
                //                                         <th>Target</th>
                //                                         <th>Achieved</th>
                //                                         <th>% Achieve</th>
                //                                         <th>Remaining Target</th>
                //                                         <th>Status</th>
                //                                     </tr>
                //                                 </thead>
                //                                 <tbody>`;

                //         quarter.sales.forEach((sale, index) => {
                //             htmlContent += `
                //                 <tr>
                //                     <td>${index + 1}</td>
                //                     <td><img alt="image" src="/static/dist/img/avatar/avatar-1.jpeg" class="img_sales_person" /> | ${sale.sales_person_name}</td>
                //                     <td>${sale.joining_date}</td>
                //                     <td>${sale.sales_target.toLocaleString()}</td>
                //                     <td>${sale.sales_amount.toLocaleString()}</td>
                //                     <td>
                //                         <div class="progress" style="height: 14px;" data-toggle="tooltip" title="${sale.percentage}%">
                //                             <div class="progress-bar 
                //                                 ${sale.percentage < 50 ? 'bg-danger' : sale.percentage < 100 ? 'bg-warning' : 'bg-success'}"
                //                                 style="width: ${sale.percentage}%;">
                //                                 ${sale.percentage}%
                //                             </div>
                //                         </div>
                //                     </td>
                //                     <td>${sale.remaining.toLocaleString()}</td>
                //                     <td>
                //                         <div class="badge ${
                //                             sale.percentage < 50
                //                                 ? 'badge-danger'
                //                                 : sale.percentage < 100
                //                                 ? 'badge-warning'
                //                                 : 'badge-success'
                //                         }">${sale.status}</div>
                //                     </td>
                //                 </tr>`;
                //         });

                //         htmlContent += `
                //                                 </tbody>
                //                             </table>
                //                         </div>
                //                     </div>
                //                 </div>
                //             </div>`;
                //     });

                //     htmlContent += `</div>`;
                // });

                htmlContent += `</table>
                    </div>
                  </div>
                </div>
              </div>
          </div>`;

                // Append the generated HTML to #main
                $('#main').append(htmlContent);
            } else {
                console.error("Unexpected status:", data.status);
            }
        },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    
    });
</script>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">             </script> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

</html>