<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %} 
<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <!-- <div>Summary</div> -->
            <div class="col-md-12">
              <div class="form-group col-6">
                Project Summary
              </div>
              <div class="form-group col-4">
                <select class="form-control" id="project" name="project">
                <option value="">-- Select Project --</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="form-group col-2">
                <button class="btn btn-primary" id="generate">
                  Generate
              </button>
              </div>
          </h1>
          <!-- <div class="col-md-6 col-md-offset-4 mx-auto">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Generate Report</h4>
              </div>
              <div class="card-body">
                <form method="POST" action="generate_report">
                    {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-6">
                      <label>Branch</label>
                      <select class="form-control js-example-basic-multiple" id="branch" name="branch" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for branch in branches %}
                          <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label>Department</label>
                      <select class="form-control js-example-basic-multiple" id="department" name="department" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for depart in departs %}
                          <option value="{{ depart.id }}">{{ depart.depart_name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Employee</label>
                      <select class="form-control js-example-basic-multiple" id="employees" name="employees" multiple="multiple">
                          <option value="all">-- Select All --</option>
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label>Year</label>
                      <select class="form-control js-example-basic-multiple" id="year" name="year" multiple="multiple">
                      <option value="all">-- Select All --</option>
                      {% for year in years %}
                          <option value="{{ year.financial_year }}">{{ year.financial_year }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Generate
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
        


        <!-- project_summary.html -->
          <div class="container mt-4" id="main">
              <!-- Project Info -->
              
          </div>
        </section>



      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
  <script type="text/javascript">
    $(document).ready(function () {
        $('#generate').on('click',function () {
            var url = "{% url 'project_summary' %}";
            var project = $('#project').val();
            $('#main').empty();
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'project': project
                },
                traditional: true,
                success: function (data) {
                  summary=data.project
                  const MEDIA_URL = "{{ MEDIA_URL }}"; 
                  let htmlContent = `
                   <div class="row mb-4">
                    <div class="col-md-12">
                      <div class="alert alert-primary">
                         <h2 ><span style="width:100%;    font-size: 24px;
    font-weight: 700;" class="text-left">${summary.project.title} <span style="float:right;    margin-top: 5px;" class='badge badge-warning'>${summary.project.project_status}...</span></span></h2>
                      </div>
                      
                    </div>
                  </div> 
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <div class="card">
              <div class="card-header">
                <h5 class="card-title">General Info</h5>
              </div>
              <div class="card-body">
                <p><strong>Client:</strong> ${summary.client.client_name}</p>
                <p><strong>Client's POC:</strong> Shoaib</p>
                <p><strong>PM:</strong> project.project_manager</p>
                
                
              </div>
            </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
              <div class="card-header">
                <h5 class="card-title">Progress</h5>
              </div>
              <div class="card-body">
                                         <p><strong>Start Date:</strong>${summary.project.start_date}</p>
<p><strong>End Date:</strong> ${summary.project.end_date}</p>
                                          <p><strong>Completion Date:</strong> ${summary.project.close_date}</p>
                                      </div>
                                      </div></div>
                                      <div class="col-md-4">
                                          <div class="card">
              <div class="card-header">
                <h5 class="card-title">Budget Summary</h5>
              </div>
              <div class="card-body">
                                                  
                                                  <p><strong>Total Budget:</strong> ${intcomma(summary.project.amount)}</p>
                                                  <p><strong>Amount Spent:</strong> ${intcomma(summary.expense)}</p>
                                                  <p><strong>Progress:</strong>
                                                  <div class="progress">
                                                      <div class="progress-bar" role="progressbar" style="width: ${remove_decimal_point(summary.perc)}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">${remove_decimal_point(summary.perc)}%</div>
                                                  </div></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="card">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <h5 class="card-title">Finances</h5>
        <p class="card-text">Here you will find all the details about the project financials</p>
        
        <!-- Nested Cards -->
        <div class="row">
          <!-- First Nested Card -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Project Financials
              </div>
              <div class="card-body">
               <table class="table">
                                      <thead>
                                          <tr>
                                            
                                            <th scope="col">Cost</th>
                                            <th scope="col">Expense</th>  
                                              <th scope="col">Adv Amt</th>
                                              <th scope="col">Tax(%)</th>
                                              <th scope="col">Adv Tax(%)</th>
                                             
                                          </tr>
                                      </thead>
                                      <tbody>
                                          
                                          <tr>
                                             <td>${intcomma(summary.project.amount)}</td>
                                            <td>${intcomma(summary.expense)}</td>
                                             
                                              <td>${intcomma(summary.project.advance_amount)}</td>
                                              <td>${summary.project.tax}</td>
                                              <td>${summary.project.advance_tax}</td>
                                              
                                          </tr>
                                          
                                      </tbody>
                                  </table>
              </div>
            </div>
          </div>
          
          <!-- Second Nested Card -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
               Earnest Money
              </div>
              <div class="card-body">
                <table class="table">
                                      <thead>
                                          <tr>
                                              <th scope="col">EM</th>
                                              <th scope="col">Inst No.</th>
                                              <th scope="col">Expiry</th>
                                              <th scope="col">Doc</th>
                                             
                                              <th scope="col">Rcvd Date</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          
                                          <tr>
                                              <td>${intcomma(summary.project.earnest_money)}</td>
                                              <td>${summary.project.em_instrument_no}</td>
                                              <td>${summary.project.em_expire_date}</td>
                                              <td><a href="${ MEDIA_URL }${ summary.project.em_doc }" target="_blank">View</a></td>
                                              
                                              <td>${summary.project.em_receive_date}</td>
                                          </tr>
                                        
                                      </tbody>
                                  </table>
              </div>
            </div>
          </div>
          <!-- Third Nested Card -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Performance Gurantee (PG) | <span class="badge badge-primary">Total Amount: 25000 /-</span>
              </div>
              <div class="card-body">
                <table class="table">
                                      <thead>
                                          <tr>
                                            <th scope="col">Bank Name</th>
                                              <th scope="col">Instr #.</th>
                                              <th scope="col">Start Date</th>
                                              <th scope="col">End Date</th>
                                              <th scope="col">Duration</th>
                                              <th scope="col">Validity</th>
                                              <th scope="col">%Age</th>
                                              <th scope="col">Amount</th>
                                              <th scope="col">Document</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        
                                          <tr>
                                            <td>HBL</td>
                                              <td>gr34431e</td>
                                              <td>01/05/2024</td>
                                              <td>31/05/2024</td>
                                              <td>05/06/2024</td>
                                              <td>5 months</td>
                                              <td>5.0</td>
                                              <td>25000</td>
                                              <td><a href="">View</a></td>
                                          </tr>
                                        
                                      </tbody>
                                  </table>
              </div>
            </div>
          </div>
          <!-- Fourth Nested Card -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Bank Gurantee (BG) | <span class="badge badge-primary">Total Amount: 25000 /-</span>
              </div>
              <div class="card-body">
                <table class="table">
                                      <thead>
                                          <tr>
                                              <th scope="col">S.No</th>  
                                              <th scope="col">Bank Name</th>         
                                              <th scope="col">Instr No.</th>
                                              <th scope="col">Start Date</th>
                                              <th scope="col">End Date</th>
                                              <th scope="col">Duration</th>
                                              <th scope="col">Validity</th>
                                              <th scope="col">%Age</th>
                                              <th scope="col">Amount</th>
                                              <th scope="col">Document</th>
                                          </tr>
                                      </thead>
                                      <tbody>`
                                    summary.bank_guarantees.forEach((bank_guaranty, index) => {
                                      htmlContent += `
                                          <tr>
                                              <td>${index + 1}</td>
                                              <td>${bank_guaranty.bank}</td>
                                              <td>${bank_guaranty.instrument_no}</td>
                                              <td>${bank_guaranty.bg_start_date}</td>
                                              <td>${bank_guaranty.bg_end_date}</td>
                                              <td>${bank_guaranty.duration}</td>
                                              <td>${bank_guaranty.bg_validity}</td>
                                              <td>${bank_guaranty.bg_percentage}</td>
                                              <td>${intcomma(bank_guaranty.bg_amount)}</td>
                                              <td><a href="${ MEDIA_URL }${ bank_guaranty.bg_doc }" target="_blank">View</a></td>
                                          </tr>
                                      `;
                                      });
                                     htmlContent += `   
                                      </tbody>
                                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
       All the financials are based on the input in the system.
      </div>
    </div>
                                  
                                  
                              <div class="card">
              <div class="card-header">
                Project Team
              </div>
              <div class="card-body">    

                                  <table class="table">
                                      <thead>
                                      <tr>
                                        <th>S.No</th>
                                        <th>Employee</th>
                                        <th>Is Key Acc Mgr</th>
                                        <th>Status</th>
                                      </tr>
                                      </thead>
                                      <tbody>`
                    summary.employee_projects.forEach((employee_project, index) => {
                                          htmlContent += `
                                              <tr>
                                                  <td>${index + 1}</td>
                                                  <td>${employee_project.employee_name}</td>
                                                  <td>${employee_project.is_key_acc_mgr === 1 ? 'Yes' : 'No'}</td>
                                                  <td>${employee_project.status === 1 ? 'Active' : 'Deactive'}</td>
                                              </tr>
                                          `;
                                      });
                          htmlContent +=`        
                                      </tbody>
                                  </table>
                                  </div></div>
                                  
                                  <div class="card">
              <div class="card-header">
                Project Documents
              </div>
              <div class="card-body">    

                                  <table class="table">
                                      <thead>
                                      <tr>
                                        <th>S.No</th>
                                        <th>Document Type</th>
                                        <th>Ref No</th>
                                        <th>Issuance Date</th>
                                        <th>File</th>
                                        <th>Remarks</th>
                                      </tr>
                                      </thead>
                                      <tbody>`
                                        summary.project_documents.forEach((project_document, index) => {
                                          htmlContent += `
                                              <tr>
                                                  <td>${index + 1}</td>
                                                  <td>${project_document.doc_type}</td>
                                                  <td>${project_document.ref_no}</td>
                                                  <td>${project_document.issuance_date}</td>
                                                  <td><a href="${ MEDIA_URL }${ project_document.doc_path }" target="_blank">View</a></td>
                                                  <td>${project_document.remarks}</td>
                                              </tr>
                                          `;
                                      });
                          htmlContent +=`        
                                      </tbody>
                                  </table>
                                  </div></div>`;
                                  // Append generated content to #main
                                  $('#main').append(htmlContent);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>
</body>
</html>