<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Dashboard</div>
          </h1>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-primary">
                  <i class="ion ion-person"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Project</h4>
                  </div>
                  <div class="card-body">
                    {{projects}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-danger">
                  <i class="ion ion-ios-paper-outline"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Cancel</h4>
                  </div>
                  <div class="card-body">
                    {{cancelled}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-warning">
                  <i class="ion ion-paper-airplane"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>In progress</h4>
                  </div>
                  <div class="card-body">
                    {{inprogress}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card card-sm-3">
                <div class="card-icon bg-success">
                  <i class="ion ion-record"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Completed</h4>
                  </div>
                  <div class="card-body">
                    {{completed}}
                  </div>
                </div>
              </div>
            </div>                  
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <div class="float-right">
                    <div class="btn-group">
                      <!-- <a href="#" class="btn active">Week</a>
                      <a href="#" class="btn">Month</a>
                      <a href="#" class="btn">Year</a> -->
                    </div>
                  </div>
                  <h4>Weekly Leads</h4>
                </div>
                <div class="card-body">
                  <canvas id="myChart"></canvas>
                  <!-- <div class="statistic-details mt-sm-4">
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span> 7%</small>
                      <div class="detail-value">$243</div>
                      <div class="detail-name">Today's Sales</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-danger"><i class="ion-arrow-down-b"></i></span> 23%</small>
                      <div class="detail-value">$2,902</div>
                      <div class="detail-name">This Week's Sales</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span>9%</small>
                      <div class="detail-value">$12,821</div>
                      <div class="detail-name">This Month's Sales</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span> 19%</small>
                      <div class="detail-value">$92,142</div>
                      <div class="detail-name">This Year's Sales</div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <div class="float-right">
                    <div class="btn-group">
                      <!-- <a href="#" class="btn">Year</a> -->
                    </div>
                  </div>
                  <h4>Quarterly Sales</h4>
                </div>
                <div class="card-body">
                  <canvas id="myChart3"></canvas>
                  <!-- <div class="statistic-details mt-sm-4">
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span> 7%</small>
                      <div class="detail-value">$243</div>
                      <div class="detail-name">Quarter1</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-danger"><i class="ion-arrow-down-b"></i></span> 23%</small>
                      <div class="detail-value">$2,902</div>
                      <div class="detail-name">Quarter2</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span>9%</small>
                      <div class="detail-value">$12,821</div>
                      <div class="detail-name">Quarter3</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span>9%</small>
                      <div class="detail-value">$12,821</div>
                      <div class="detail-name">Quarter4</div>
                    </div>
                    <div class="statistic-details-item">
                      <small class="text-muted"><span class="text-primary"><i class="ion-arrow-up-b"></i></span> 19%</small>
                      <div class="detail-value">$92,142</div>
                      <div class="detail-name">This Year's Sales</div>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- <div class="card">
                <div class="card-header">
                  <h4>Recent Activities</h4>
                </div>
                <div class="card-body">             
                  <ul class="list-unstyled list-unstyled-border">
                    <li class="media">
                      <img class="mr-3 rounded-circle" width="50" src="{% static 'dist/img/avatar/avatar-1.jpeg' %}" alt="avatar">
                      <div class="media-body">
                        <div class="float-right"><small>10m</small></div>
                        <div class="media-title">Farhan A Mujib</div>
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
                      </div>
                    </li>
                    <li class="media">
                      <img class="mr-3 rounded-circle" width="50" src="{% static 'dist/img/avatar/avatar-2.jpeg' %}" alt="avatar">
                      <div class="media-body">
                        <div class="float-right"><small>10m</small></div>
                        <div class="media-title">Ujang Maman</div>
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
                      </div>
                    </li>
                    <li class="media">
                      <img class="mr-3 rounded-circle" width="50" src="{% static 'dist/img/avatar/avatar-3.jpeg' %}" alt="avatar">
                      <div class="media-body">
                        <div class="float-right"><small>10m</small></div>
                        <div class="media-title">Rizal Fakhri</div>
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
                      </div>
                    </li>
                    <li class="media">
                      <img class="mr-3 rounded-circle" width="50" src="{% static 'dist/img/avatar/avatar-4.jpeg' %}" alt="avatar">
                      <div class="media-body">
                        <div class="float-right"><small>10m</small></div>
                        <div class="media-title">Alfa Zulkarnain</div>
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</small>
                      </div>
                    </li>
                  </ul>
                  <div class="text-center">
                    <a href="#" class="btn btn-primary btn-round">
                      View All
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-lg-5 col-md-12 col-12 col-sm-12">
              <form method="post" class="needs-validation" novalidate="">
                <div class="card">
                  <div class="card-header">
                    <h4>Quick Draft</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" name="title" class="form-control" required>
                      <div class="invalid-feedback">
                        Please fill in the title
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Content</label>
                      <textarea class="summernote-simple"></textarea>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary">Save Draft</button>
                  </div>
                </div>
              </form>
            </div> -->
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <!-- <div class="float-right">
                    <a href="#" class="btn btn-primary">View All</a>
                  </div> -->
                  <h4>Latest Leads</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Employee</th>
                        <th>Lead Date</th>
                        <th>Lead Type</th>
                        <th>Coverted Date</th>
                        <th>Created at</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                          {% for lead in leads %}  
                              <tr>  
                                  <td>{{ forloop.counter }}</td>  
                                  <td>{{ lead.sale_person.ename }}</td>
                                  <td>{{ lead.lead_date }}</td> 
                                  <td>{{ lead.lead_type }}</td> 
                                  <td>{{ lead.convert_date }}</td>  
                                  <td>{{ lead.created_at }}</td>  
                                  {% if lead.status == 1 %}
                                    <td>Active</td>  
                                  {% else %}
                                    <td>Deactive</td>
                                  {% endif %}
                              </tr>  
                          {% endfor %}
                      </tbody>
                      <tfoot>
                      <tr>
                          <th>S.No</th>
                          <th>Employee</th>
                          <th>Lead Date</th>
                          <th>Lead Type</th>
                          <th>Coverted Date</th>
                          <th>Created at</th>
                          <th>Status</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>
  {% include 'layout/script.html' %}
<script>
  var days_of_week = {{ days_of_week|safe }};
  var weekly_data_count = {{ weekly_data_count|safe }};
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: days_of_week,
      datasets: [{
        label: 'Statistics',
        data: weekly_data_count,
        borderWidth: 2,
        backgroundColor: 'rgb(87,75,144)',
        borderColor: 'rgb(87,75,144)',
        borderWidth: 2.5,
        pointBackgroundColor: '#ffffff',
        pointRadius: 4
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 15
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
    }
  });
  var totalAmount = {{ quarterly|safe }};
  console.log(typeof(totalAmount))
  var ctx = document.getElementById("myChart3").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Quarter1", "Quarter2", "Quarter3", "Quarter4"],
      datasets: [{
        label: 'Statistics',
        data: totalAmount,
        borderWidth: 2,
        backgroundColor: [
              '#28a745',
              '#ffc107',
              '#dc3545',
              '#343a40',
            ],
        // borderColor: 'rgb(87,75,144)',
        borderWidth: 2.5,
        pointBackgroundColor: '#ffffff',
        pointRadius: 4
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 200000
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
    }
  });
</script>
</body>
</html>