<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Projects</div>
            <div style="float: right;"><a href="/employee/save_project" class="btn btn-sm btn-danger">Add</a></div>
          </h1>
          <div class="section-body">
            <div class="row mt-5">
              <div class="col-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Project Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Branch</th>
                            <th>Project Type</th>
                            <th>Project</th>
                            <th>Client</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Duration</th>
                            <th>Amount</th>
                            <th>Tax(%)</th>
                            <th>Total</th>
                            <th>Advance Tax(%)</th>
                            <th>Advance Amount</th>
                            <th>Earning Money</th>
                            <th>EM File</th>
                            <th>EM Instrument No</th>
                            <th>PG Start Date</th>
                            <th>PG End Date</th>
                            <th>PG Validity</th>
                            <th>PG Perc(%)</th>
                            <th>PG Amount</th>
                            <th>PG Instrument No</th>
                            <th>PG Doc</th>
                            <th>Project Doc</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}  
                            <tr>  
                                <td>{{ forloop.counter }}</td>  
                                <td>{{ project.branch.branch_name}}</td>
                                <td>{{ project.project_type.type_name}}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.client_name}}</td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.end_date}}</td>
                                <td>{{ project.duration }}</td>
                                <td>{{ project.amount}}</td>
                                <td>{{ project.tax }}</td>
                                <td>{{ project.total}}</td>
                                <td>{{ project.advance_tax }}</td>
                                <td>{{ project.advance_amount}}</td>
                                <td>{{ project.earnest_money }}</td>
                                <td><a href="{{ MEDIA_URL }}{{ project.em_doc }}" target="_blank">EM Document</a></td>
                                <td>{{ project.em_instrument_no}}</td>
                                <td>{{ project.pg_start_date }}</td>
                                <td>{{ project.pg_end_date}}</td>
                                <td>{{ project.pg_validity }}</td>
                                <td>{{ project.pg_percentage}}</td>
                                <td>{{ project.pg_amount }}</td>
                                <td>{{ project.pg_instrument_no}}</td>
                                <td><a href="{{ MEDIA_URL }}{{ project.pg_doc }}" target="_blank">PG Document</a></td>
                                <td><a href="{{ MEDIA_URL }}{{ project.project_doc }}" target="_blank">Project Document</a></td>    
                                <td>{{ project.status }}</td>  
                                <td>  
                                    <a href="/employee/e_project/{{ project.id }}"><span class="ion-ios-compose" ></span></a>  
                                    <a href="/employee/d_project/{{ project.id }}"><span class="ion-ios-trash" ></span></a>  
                                </td>  
                            </tr>  
                            {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                              <th>S.No</th>
                              <th>Branch</th>
                              <th>Project Type</th>
                              <th>Project</th>
                              <th>Client</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Duration</th>
                              <th>Amount</th>
                              <th>Tax(%)</th>
                              <th>Total</th>
                              <th>Advance Tax(%)</th>
                              <th>Advance Amount</th>
                              <th>Earning Money</th>
                              <th>EM File</th>
                              <th>EM Instrument No</th>
                              <th>PG Start Date</th>
                              <th>PG End Date</th>
                              <th>PG Validity</th>
                              <th>PG Perc(%)</th>
                              <th>PG Amount</th>
                              <th>PG Instrument No</th>
                              <th>PG Doc</th>
                              <th>Project Doc</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>