<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Add Journal Entry</div>
          </h1>
          <div class="col-md-6 col-md-offset-4 mx-auto">
            <div class="card card-primary">
                <div class="card-header"><h4>Add</h4></div>
                
                <div class="card-body">
    
                  <form method="POST" action="save_journal_entry" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Account type</label>
                        <input type="text" id="account_type" name="account_type" class="form-control" disabled>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Detail type</label>
                        <input type="text" id="detail_type" name="detail_type" class="form-control" disabled>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">ChartOfAccount</label>
                        <select class="form-control" id="coaid" name="coaid">
                            <option value="">-- Select --</option>
                            {% for coa in coas %}
                                <option value="{{ coa.id }}">{{ coa.title }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Currency</label>
                        <select class="form-control" id="currency" name="currency">
                          <option value="">-- Select --</option>
                          {% for cur in currency %}
                                <option value="{{ cur.id }}">{{ cur.name }}</option>
                          {% endfor %}
                      </select>
                      </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                          <label for="frist_name">Amount</label>
                          <input id="amount" type="number" class="form-control" name="amount" step="0.01">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="frist_name">Conversion Rate</label>
                          <input id="conversion_rate" type="number" class="form-control" name="conversion_rate" value="1" step="0.01">
                        </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Total Amount</label>
                        <input id="total_amount" type="number" class="form-control" name="total_amount" step="0.01" readonly>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Transaction Type</label>
                        <select class="form-control" id="transaction_type" name="transaction_type">
                          <option value="">-- Select --</option>
                          <option value="Credit">Credit</option>
                          <option value="Debit">Debit</option>
                        </select>
                      </div>
                  </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Project</label>
                        <select class="form-control" id="project" name="project">
                            <option value="">-- Select --</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.title }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Payment Mode</label>
                        <select class="form-control" id="payment_mode" name="payment_mode">
                            <option value="">-- Select --</option>
                            {% for mode in modes %}
                                <option value="{{ mode.id }}">{{ mode.title }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Bank</label>
                        <select class="form-control" id="bank" name="bank">
                            <option value="">-- Select --</option>
                            {% for bank in banks %}
                                <option value="{{ bank.id }}">{{ bank.bank_name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Cheque No</label>
                        <input id="cheque_no" type="text" class="form-control" name="cheque_no">
                      </div>
                     
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Doc</label>
                        <input id="doc_path" type="file" class="form-control" name="doc_path">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Branch</label>
                        <select class="form-control" id="branch" name="branch">
                            <option value="">-- Select --</option>
                            {% for branch in branches %}
                                <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Ref No</label>
                        <input id="ref_no" type="text" class="form-control" name="ref_no" readonly>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Receiver</label>
                        <input id="receive_person" type="text" class="form-control" name="receive_person">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Description</label>
                        <textarea id="description" name="description" class="form-control" rows="4" cols="5"></textarea>
                      </div>
                    </div>
    
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
  <script>
    $(document).ready(function () {
      // $("#coaid").click(function(){
        $.get("generate_refno", function(data, status){
          // alert("Data: " + data.generated_code + "\nStatus: " + status);
          $('#ref_no').val(data.generated_code);
        });
      // });

      $('#coaid').change(function () {
          if ($("#coaid").val() != '') {
            var url = "{% url 'load_account' %}";
            var coaid = $(this).val();
          
            $.ajax({
                url: url,
                data: {
                    'coaid': coaid
                },
                traditional: true,
                success: function (data) {
                  $('#account_type').val(data.account);
                  $('#detail_type').val(data.detail);
                    // $account_type.trigger('change'); 
                    // $detail_type.trigger('change');  // Notify Select2 to update
                },
                error: function (error) {
                  $('#account_type').val('');
                  $('#detail_type').val('');
                }
            });
          }
          else{
            $('#account_type').val('');
            $('#detail_type').val('');
          }
        });
        
        $('#amount').on('keyup change', function () {
            var amount = $(this).val();
            var rate = $('#conversion_rate').val();

            var total = rate * amount
            $('#total_amount').val(total);

        });

        $('#conversion_rate').on('keyup change', function () {
            var rate = $(this).val();
            var amount = $('#amount').val();

            var total = rate * amount
            $('#total_amount').val(total);

        });
    });
</script>
</body>
</html>