<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Journal Entry</div>
          </h1>
          <div class="col-md-6 col-md-offset-4 mx-auto">
            <div class="card card-primary">
                <div class="card-header"><h4>Edit</h4></div>
                
                <div class="card-body">
    
                  <form method="POST" action="/finance/u_journal_entry/{{journal_entry.id}}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                          <label for="frist_name">ChartOfAccount</label>
                          <select class="form-control" id="coaid" name="coaid">
                              <option value="">-- Select --</option>
                              {% for coa in coas %}
                                {% if journal_entry.coaid.id == coa.id %}                         
                                    <option value="{{ coa.id }}" selected>{{ coa.title }}</option>
                                {% else %}
                                    <option value="{{ coa.id }}">{{ coa.title }}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="frist_name">Category Type</label>
                          <label for="frist_name">Detail Type</label>
                          <select class="form-control" id="detail_type" name="detail_type">
                            <option value="">-- Select --</option>
                          </select>
                        </div>
                    </div>
  
                    <div class="row">
                        <div class="form-group col-md-6">
                        <label for="frist_name">Amount</label>
                        <input id="amount" type="text" class="form-control" name="amount" value="{{ journal_entry.amount }}">
                        </div>
                        <div class="form-group col-md-6">
                        <label for="frist_name">Transaction Type</label>
                        <select class="form-control" id="transaction_type" name="transaction_type">
                            <option value="{{ journal_entry.transaction_type }}">{{ journal_entry.transaction_type }}</option>
                            <option value="Credit">Credit</option>
                            <option value="Debit">Debit</option>
                        </select>
                        </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Project</label>
                        <select class="form-control" id="project" name="project">
                            <option value="">-- Select --</option>
                            {% for project in projects %}
                                {% if journal_entry.project.id == project.id %}                         
                                    <option value="{{ project.id }}" selected>{{ project.title }}</option>
                                {% else %}
                                    <option value="{{ project.id }}">{{ project.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Payment Mode</label>
                        <select class="form-control" id="payment_mode" name="payment_mode">
                            <option value="">-- Select --</option>
                            {% for mode in modes %}
                                {% if journal_entry.payment_mode.id == mode.id %}                         
                                    <option value="{{ mode.id }}" selected>{{ mode.title }}</option>
                                {% else %}
                                    <option value="{{ mode.id }}">{{ mode.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Bank</label>
                        <select class="form-control" id="bank" name="bank">
                            <option value="">-- Select --</option>
                            {% for bank in banks %}
                                {% if journal_entry.bank.id == bank.id %}                         
                                    <option value="{{ bank.id }}" selected>{{ bank.bank_name }}</option>
                                {% else %}
                                    <option value="{{ bank.id }}">{{ bank.bank_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Cheque No</label>
                        <input id="cheque_no" type="text" class="form-control" name="cheque_no" value="{{ journal_entry.cheque_no }}">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Receiver</label>
                        <input id="receive_person" type="text" class="form-control" name="receive_person" value="{{ journal_entry.receive_person }}">
                      </div>
                    </div>
    
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">
                        Update
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>