<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Expense Entries</div>
            <div style="float: right;"><a href="/finance/save_journal_entry" class="btn btn-sm btn-danger">Add</a></div>
          </h1>
          {% include 'layout/status.html' %}
          <div class="section-body">
            <div class="row mt-5">
              <div class="col-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Expense Entry Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Ref.No</th>
                          <th>Date</th>
                          <th>ChartOfAccount</th>
                          <th>Amount</th>
                          <th>Project</th>
                          <th>Transaction Type</th>
                          <th>Payment Mode</th>
                          <th>Bank</th>
                          <th>Cheque No</th>
                          <th>Receiver</th>
                          <th>COA Type</th>
                          <th>Current Status</th>
                          <th>Paid Date</th>
                          <th>Remarks</th>
                          <th>Doc</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for journal_entry in journal_entries %}  
                                <tr>  
                                    <td>{{ forloop.counter }}</td>  
                                    <td>{{ journal_entry.ref_no }}</td>  
                                    <td>{{ journal_entry.created_at }}</td>  
                                    <td>{{ journal_entry.coaid.title }}</td>  
                                    <td>{{ journal_entry.amount }}</td>
                                    <td>{{ journal_entry.project.title }}</td>
                                    <td>{{ journal_entry.transaction_type }}</td>
                                    <td>{{ journal_entry.payment_mode.title }}</td>
                                    <td>{{ journal_entry.bank.bank_name }}</td>
                                    <td>{{ journal_entry.cheque_no }}</td>
                                    <td>{{ journal_entry.receive_person }}</td>
                                    <td>{{ journal_entry.coa_type }}</td>
                                    {% if journal_entry.current_status == 'Payable' %}
                                      <td><button type="button" class="btn btn-sm btn-primary getexpense" data-toggle="modal" id="getexpense" data-id={{journal_entry.id}} data-target="#expense" style="float: right;">
                                        {{ journal_entry.current_status }}
                                      </button></td>  
                                    {% else %}
                                      <td>{{ journal_entry.current_status }}</td>
                                    {% endif %}
                                    <td>{{ journal_entry.status_change_date }}</td>
                                    <td>{{ journal_entry.description }}</td>
                                    <td>
                                      {% if journal_entry.doc_path %}
                                        <a href="{{ MEDIA_URL }}{{ journal_entry.doc_path }}" target="_blank">{{journal_entry.coaid.title}}</a>
                                      {% else %}
                                        <span class="text-muted">No Document</span>
                                      {% endif %}
                                    </td>
                                    {% if journal_entry.status == 1 %}
                                      <td>Active</td>  
                                    {% else %}
                                      <td>Deactive</td>
                                    {% endif %}
                                    <td>  
                                        <!-- <a href="/finance/e_journal_entry/{{ journal_entry.id }}"><span class="ion-ios-compose" ></span></a>   -->
                                        <a href="/finance/d_journal_entry/{{ journal_entry.id }}" onclick="return confirm('Are you sure you want to delete this?')"><span class="ion-ios-trash" ></span></a>  
                                    </td>  
                                </tr>  
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                          <th>S.No</th>
                          <th>Ref.No</th>
                          <th>Date</th>
                          <th>ChartOfAccount</th>
                          <th>Amount</th>
                          <th>Project</th>
                          <th>Transaction Type</th>
                          <th>Payment Mode</th>
                          <th>Bank</th>
                          <th>Cheque No</th>
                          <th>Receiver</th>
                          <th>COA Type</th>
                          <th>Current Status</th>
                          <th>Paid Date</th>
                          <th>Remarks</th>
                          <th>Doc</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
        <!-- Convert Lead Modal -->
        <div class="modal fade" id="expense" tabindex="-1" aria-labelledby="expenseLabel" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="expenseLabel">Paying</h5>
                <button type="button" class="btn-close-expense" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="formnew" method="POST" data-url="{% url 'u_status' %}" id="myForm1">
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Invoice ID</label>
                      <input id="lead" type="text" class="form-control" name="lead" readonly>
                    </div>
                    <div class="form-group col-6">
                      <label for="frist_name">Paying Date</label>
                      <input id="status_change_date" type="date" class="form-control" name="status_change_date">
                      <input id="check" type="hidden" class="form-control" name="check" value="expense">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit"  value="save" class="btn btn-primary submit-btn">
                      Paid
                    </button>
                    <button type="button" class="btn btn-secondary btn-close-expense" data-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Convert Lead Modal -->
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>
  {% include 'layout/script.html' %}
  <script>
    $(".btn-close-expense").on('click',function() {
      $("#expense").modal('toggle');
    });

    $(document).ready(function() {
      $('.getexpense').click(function () {
              var lead = $(this).attr('data-id');
              $('#lead').val(lead);
        });
      //$('.submit-btn').click(function(e) {
      $(".formnew").on('submit',function(e) {
          e.preventDefault();

          var form = $(this)[0]; 
          console.log(form);
          var formData = new FormData(form); // Use FormData for file upload
          var url = $(this).data('url');
          $.ajax({
              type: 'POST',
              url: '{{ HOST }}'+url,
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                  console.log(response)
                  if (response.status === 'success') {
                      $(form).closest('.modal').modal('hide');
                      location.reload();
                  } else {
                      //alert('An error occurred');
                  }
              },
              error: function(response) {
                  console.log(response)
                  //alert('An error occurred');
              }
                });
            });
        });
  </script>
</body>
</html>