<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Add Heading</div>
          </h1>
          <div class="col-md-6 col-md-offset-4 mx-auto">
            <div class="card card-primary">
                <div class="card-header"><h4>Add</h4></div>
                <div class="card-body">
                  <form method="POST" action="save_heading">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="frist_name">Tendor</label>
                        <select class="form-control" id="tendor" name="tendor">
                          <option value="">-- Select --</option>
                          {% for tendor in tendors %}
                              <option value="{{ tendor.id }}">{{ tendor.title }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="frist_name">Title</label>
                        <input id="title" type="text" class="form-control" name="title">
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>
  {% include 'layout/script.html' %}
</body>
</html>