<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Heading</div>
          </h1>
          {% include 'layout/status.html' %}
          <div class="col-md-6 col-md-offset-4 mx-auto">
            <div class="card card-primary">
                <div class="card-header"><h4>Edit</h4></div>
                <div class="card-body">
                  <form method="POST" action="/initiation/u_heading/{{heading.id}}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="frist_name">Tender</label>
                            <select class="form-control" id="tendor" name="tendor">
                              <option value="">-- Select --</option>
                              {% for tendor in tendors %}
                                  {% if heading.tendor.id == tendor.id %}                         
                                      <option value="{{ tendor.id }}" selected>{{ tendor.title }}</option>
                                  {% else %}
                                      <option value="{{ tendor.id }}">{{ tendor.title }}</option>
                                  {% endif %}
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="frist_name">Title</label>
                            <input id="title" type="text" class="form-control" name="title"  value="{{ heading.title }}">
                        </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">
                        Update
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>
  {% include 'layout/script.html' %}
</body>
</html>