<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Bank</div>
          </h1>
          <div class="card card-primary">
            <div class="card-header"><h4>Edit</h4></div>

            <div class="card-body">
              <form method="POST" action="/employee/u_bank/{{bank.id}}">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Bank Name</label>
                      <input id="bank_name" type="text" class="form-control" name="bank_name" value="{{ bank.bank_name }}">
                    </div>
                    <div class="form-group col-6">
                      <label for="email">Branch Code</label>
                      <input id="branch_code" type="text" class="form-control" name="branch_code" value="{{ bank.branch_code }}">
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">City</label>
                      <input id="city" type="text" class="form-control" name="city" value="{{ bank.city }}">
                    </div>
                    <div class="form-group col-6">
                      <label for="frist_name">Address</label>
                      <input id="address" type="text" class="form-control" name="address" value="{{ bank.address }}">
                    </div>
                  </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>