<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}

<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Edit Education</div>
          </h1>
          <div class="card card-primary">
            <div class="card-header"><h4>Edit</h4></div>

            <div class="card-body">
              <form method="POST" action="/employee/u_education/{{education.id}}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Employee Name</label>
                    <select class="form-control" id="employee" name="employee">
                        <option value=""> Select Employee </option>
                        {% for employee in employees %}
                          {% if education.employee.id == employee.id %}                         
                            <option value="{{ employee.id }}" selected>{{ employee.ename }}</option>
                          {% else %}
                            <option value="{{ employee.id }}">{{ employee.ename }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="email">Degree Name</label>
                    <input id="degree_name" type="text" class="form-control" name="degree_name" value="{{ education.degree_name }}">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Institute</label>
                    <input id="institute" type="text" class="form-control" name="institute" value="{{ education.institute }}">
                  </div>
                  <div class="form-group col-6">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country">
                      <option value="{{ education.country }}">{{ education.country }}</option>
                        <option value="Pakistan">Pakistan</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label>From Date</label>
                        <input id="from_date" type="date" class="form-control" name="from_date" value="{{education.from_date|date:'Y-m-d'}}">
                    </div>
                    <div class="form-group col-6">
                        <label>To Date</label>
                        <input id="to_date" type="date" class="form-control" name="to_date" value="{{education.to_date|date:'Y-m-d'}}">
                    </div>
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label>Grade</label>
                    <input id="grade" type="text" class="form-control" name="grade" value="{{ education.grade }}">
                  </div>
                  <div class="form-group col-6"> 
                    <label for="email">Degree Document</label>
                    <div class="row">
                      <div class="form-group col-10">
                        <input id="degree_doc" type="file" class="form-control" name="degree_doc" value="{{ education.degree_doc }}">
                      </div>
                      <div class="form-group col-1">
                        <a href="{{ MEDIA_URL }}{{ education.degree_doc }}" target="_blank"><span class="ion-ios-eye" ></span></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>