<!DOCTYPE html>
<html lang="en">

<body>
  <div id="app">
    <div class="main-wrapper">

      <div class="main-content">
        <section class="section">
            <div class="card card-primary">
                <!-- <div class="card-header">
                  <div style="float: right;"><a href="/employee/print" class="btn btn-sm btn-danger">Print</a></div>
                </div> -->

                <div class="card-body">
                   
                  {{template | safe}}
                      <!-- {% for tem in template %}
                        {{tem | safe}}
                      {% endfor %} -->
                         
                    
                </div>
            </div>
        </section>
      </div>
     
    </div>
  </div>
</body>
</html>