<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  {% include 'layout/style.html' %}
  <script>
    function addField() {
        var container = document.getElementById("fields-container");
        var fieldCount = container.getElementsByClassName("field-set").length;
        var newFieldSet = document.createElement("div");
        newFieldSet.className = "field-set row";
        newFieldSet.innerHTML = `
            
            <div class="form-group col-4">
              <label for="id_document_type_${fieldCount}">Document Type</label>
              <select class="form-control" id="id_document_type_${fieldCount}" name="document_type" required>
                  <option value="">-- Select Type --</option>
                  {% for document_type in document_types %}
                      <option value="{{ document_type.id }}">{{ document_type.title }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="form-group col-3">
              <label for="id_doc_path_${fieldCount}">File</label>
              <input id="doc_path_${fieldCount}" type="file" class="form-control" name="doc_path" required>
            </div>
            <div class="form-group col-4">
              <label for="id_remarks_${fieldCount}">Remarks</label>
              <textarea id="id_remarks_${fieldCount}" name="remarks" class="form-control" rows="4" cols="50" required></textarea>
            </div>
            <div class="form-group col-1">
               <button type="button"  onclick="removeField(this)">X</button>
            </div>
           
        `;
        container.appendChild(newFieldSet);
    }

    function removeField(button) {
        var fieldSet =  button.closest('.field-set');
        fieldSet.remove();
    }
</script>
<body>
  <div id="app">
    <div class="main-wrapper">
      {% include 'layout/header.html' %}
      {% include 'layout/sidebar.html' %}
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Add Project Document</div>
          </h1>
          <div class="card card-primary">
            <div class="card-header"><h4>Add</h4></div>

            <div class="card-body">
              <form method="POST" action="save_project_document" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-6">
                    <label for="frist_name">Project</label>
                    <select class="form-control" id="project" name="project" required>
                        <option value="">-- Select Project --</option>
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>

                <div id="fields-container">
                  
                </div>
                
                <div class="form-group">
                  <button type="button" class="btn btn-primary" onclick="addField()">Add More</button>
                  <button type="submit" class="btn btn-primary">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      {% include 'layout/footer.html' %}
    </div>
  </div>

  {% include 'layout/script.html' %}
</body>
</html>