<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Department Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Department Name</th>  
        <th>Status</th> 
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for department in departments %}  
    <tr>  
        <td>{{ department.id }}</td>  
        <td>{{ department.depart_name }}</td>  
        <td>{{ department.status }}</td>  
        <td>  
            <a href="/employee/e_depart/{{ department.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/employee/d_depart/{{ department.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/employee/save_depart" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  